# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.so
*.dylib

# Feast / Data
feature_repo/data/
data/
.feast/
*.db
*.sqlite

# Environment Variables (Secrets)
.env

# Docker
.pytest_cache/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/